html { 
    box-sizing: border-box; 
}

*, *::before, *::after {
    box-sizing: inherit; 
}

body {
    font-family: 'Open-sans', Arial, sans-serif;
}

img { 
    max-width: 100% 
}

a {
    text-decoration: none;
}
.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.title {
    margin: 0;
    margin-bottom: 30px;
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    letter-spacing: 0.5px;
    line-height: 48px;
}
.button-basic {
    display: inline-block;

    border: none;
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
    background-color: #f0c52e;

    cursor: pointer;
}

/* Header */

.main-header {
    width: 1160px;
    min-height: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #f7e296;
    
}
.main-header-logo {
    display: inline-block;
    position: relative;
    margin-top: -20px;
    margin-bottom: 30px;
}
.wrapper-nav {
    display: flex;
    align-items: baseline;
    align-content: stretch;
    margin-bottom: 45px;
}
.search-link {
    display: flex;
    justify-content: space-between;
    margin-right: 125px;
}
.search-field {
    width: 357px;
    font-size: 15px;
    font-weight: 300;
    color: #000000;
    opacity: 0.3;
    background-color: #f7e296;
    border: none;
}
.search-field:hover {
    opacity: 0.6;
}
.search-field:focus {
    opacity: 1;
}
.search-button {
    /*visibility: hidden;*/
    
    padding: 15px;
    font-size: 10px 20px;
    font-weight: 300;
    background-color: #f7e296;
    border: 2px solid #000;

    cursor: pointer;
}

/*.search-button:hover, .search-button:focus {
    visibility: visible;

    color: #FFF;
    background-color: #000;
}
.search-button:active {
    visibility: visible;

    color: #FFF;
    background-color: #000;
    opacity: 0.3;
}
.search-field:focus + .search-button {
    visibility: visible;
}*/
.user-navigation {
    display: flex;
}
.wrapper-user {
    display: flex;
    justify-content: space-between;
}
.user-navigation a {
    font-size: 15px;
    font-weight: 300;
    color: #000000;
}
.user-navigation a:hover, .user-navigation a:focus {
    opacity: 0.6;
}
.user-navigation a:active {
    opacity: 0.3;
}
.login-link {
    position: relative;
    margin-right: 235px;
}
.login-link::before {
    content: "";
    position: absolute;
    left: -28px;
    width: 15px;
    height: 15px;
    background-image: url(../img/icon_user.svg);
    background-repeat: no-repeat;
    background-position: center 4px;
}
.login-link-unactive {
    opacity: 0.3;
}
.compare-link {
    position: relative;
    margin-right: 65px;
}
.compare-link:before {
    content: "";
    position: absolute;
    left: -25px;
    width: 15px;
    height: 15px;
    background-image: url(../img/icon_compare.svg);
    background-repeat: no-repeat;
    background-position: center 5px;
}
.cart-link {
    position: relative;
}
.cart-link:before {
    content: "";
    position: absolute;
    left: -25px;
    width: 15px;
    height: 15px;
    background-image: url(../img/icon_cart.svg);
    background-repeat: no-repeat;
    background-position: center 5px;
}
.site-navigation {
    display: flex;

    margin: 0;
    padding: 0;
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;

    list-style: none;
}

.site-navigation a {
    color: #000000;
}
.site-navigation a:hover, .site-navigation a:focus {
    opacity: 0.6;
}
.site-navigation a:active {
    opacity: 0.3;
}
.catalog-link-drop-down {
    position: relative;
}
.catalog-link-drop-down:hover + .site-navigation-drop-down {
    display: block;
}
.catalog-link-drop-down::after {
    content: "";
    position: absolute;
    right: -23px;
    width: 16px;
    height: 16px;
    background-image: url(../img/icon_plus.svg);
    background-repeat: no-repeat;
    background-position: center 1px;
    opacity: 0.3;
}
.site-navigation-drop-down {
    display: none;

    position: absolute;
    left: auto;
    right: auto;
    z-index: 1;
    width: 1160px;

    margin: 0;
    padding: 0;
    font-family: 'Open-sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.5px;
    text-transform: none;
    color: #000000;
    background-color: #f7e296;
    list-style: none;
}
.site-navigation .delievery {
    margin-right: 40px;
}
.site-navigation .guarantee {
    margin-right: 114px;
}
.site-navigation .catalog {
    margin-right: 325px;
}
/* Slider-products */
.slider-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1050px;
    margin-top: -110px;
}
.slider-text-wrapper {
    width: 500px;
    position: relative;
    margin-top: 80px;
}
.slider-products-number {
    display: block;
    position: absolute;
    top: -100px;
    right: 0;
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 179.2px;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
}
.slider-products-lead {
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    letter-spacing: 0.2px;
    line-height: 56px;
}
.slider-products-description {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 30px;
    color: #464646;
}
.slider-products-properties th {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 20px;
    color: #464646;
}
.slider-products-properties td {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: 0.2px;
}
/* Popular products */
.popular-product-list {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin-right: auto;
    margin-left: auto;
    margin: 0;
    padding: 0;
    list-style: none; 
}
.popular-product-list li {
    width: 160px;
}
.product-list-item-icon {
    width: 160px;
    height: 160px;
    background-color: #f7e296;
}
.product-list-item-icon-vr {
    background-image: url(../img/popular_vr.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.product-list-item-icon-monopod {
    background-image: url(../img/popular_stick.svg);
    background-repeat: no-repeat;
    background-position: center 95%;
}
.product-list-item-icon-action-cam {
    background-image: url(../img/popular_actioncam.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.product-list-item-icon-fitness {
    background-image: url(../img/popular_fit_watches.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.product-list-item-icon-watches {
    background-image: url(../img/popular_watches.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.product-list-item-icon-dron {
    background-image: url(../img/popular_dron.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.product-list-item-title {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.product-list-item-title a {
    color: #000000;
}
/* Slider-services */
.slider-services {
    background-color: #e5e5e5;
}
.slider-services ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.button-slider-active {
    color: #f0c52e;
    background-color: #000;
}
.slider-services-card p {
    margin: 0;

    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: #464646;
}
/* About us */

.about-us p {
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: #464646;
}
.transport-company-list {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
}

/* Contacts */
.contacts p {
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: #464646;
}

/* Footer */
.main-footer {
    color: #fff;
    background-color: #464646;
}
.footer-address {
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}
.footer-phone {
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}
.user-navigation-footer a {
    color: #fff;
    opacity: 0.7;
}
.user-navigation-footer a:hover, .user-navigation-footer a:focus {
    opacity: 1;
}
.user-navigation-footer a:active {
    opacity: 0.3;
}
.site-navigation-footer a {
    color: #fff;
}
.site-navigation-footer a:hover, .site-navigation-footer a:focus {
    opacity: 0.6;
}
.site-navigation-footer a:active {
    opacity: 0.3;
}
.social-icons {
    margin: 0;
    padding: 0;
    list-style: none;
}
/*Pop ups*/
.contact-us {
    display: none;
}
.pop-up-map {
    display: none;
}


/* CATALOG */
.breadcrumbs {
    margin: 0 60px;
}
.breadcrumbs-list {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0 43px;
    padding: 0;
    list-style: none;
}
.breadcrumbs-list a {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #000;
    opacity: 0.3;
}
.breadcrumbs-list a[href]:hover, .breadcrumbs a[href]:focus {
    opacity: 0.6;
}
.breadcrumbs-list a[href]:active {
    opacity: 0.1;
}


.crumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  
}

/* Filter */
.top-catalog-line {
    background-image: linear-gradient(to right, #dcdcdc, #dcdcdc 50%, #ebebeb 50%, #ebebeb);
}
.top-catalog-line-inner {
    display: flex;
    margin-left: 60px;

}
.sorting-heading {
    margin: 0;
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.sorting {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 760px;
    padding: 20px 0;
    padding-top: 18px;
    padding-left: 72px;

    background-color: #ebebeb;
}
.sorting-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 480px;
    margin: 0;
    padding: 0;
    margin-left: auto;

    list-style: none;
}
.sorting-arrows {
    display: flex;
}
.filter-heading-pseudo {
    margin: 0;
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #dcdcdc;
}

.filter-wrapper {
    border: none;
    margin-right: 68px;
}
.filter-title {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.filter-wrapper input {
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0.1px;
}
/* Catalog */
.bg-gradient {
    background-image: linear-gradient(to right, #efefef, #efefef 50%, #fff 50%, #fff);
}
.flexit {
    display: flex;
    justify-content: space-between;
}

.catalog {
    background-color: #fff;
}
.catalog-item {
    margin-right: 40px;
}
.catalog-item-title {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.catalog-item-title a {
    color: #000;
}
.catalog-item-price {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.2px;
}