*, *::before, *::after {
    box-sizing: inherit; 
}

body {
    min-width: 1200px;
    font-family: 'Open-sans', Arial, sans-serif;
}

img { 
    max-width: 100%; 
}

a {
    text-decoration: none;
}
.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}
.title {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    letter-spacing: 0.5px;
    line-height: 48px;
}
.button-basic {
    position: relative;
    z-index: 0;
    display: inline-block;
    padding: 10px 40px;

    border: none;
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    border: none;
    background: none;

    cursor: pointer;
}
.button-basic:focus, .button-basic:active {
    color: #be9c22;
}
.button-basic::before {
    position: absolute;
    content: '';
    z-index: -1;
    top: 42%;
    left: 0;
    width: 100%;
    height: 14%;
    transition: all 200ms;
    background-color: #f0c52e;
}
.button-basic:hover::before,
.button-basic:focus::before {
    top: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
}
/* Header */

.main-header {
    box-sizing: border-box;
    min-height: 230px;
    padding: 23px 60px 43px;
    margin-bottom: 30px;
    background-color: #f7e296;
    background-image: linear-gradient(#fff 0, #fff 40px, #f7e296 40px);
}
.main-header--higher {
    min-height: 340px;
    margin-bottom: 0;
}
.main-header-logo {
    display: inline-block;
    margin-bottom: 10px;
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.search-link {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
}
.search-link-form {
    min-width: 440px;
}
.search-field {
    width: 355px;
    padding: 14px 20px;
    font-size: 15px;
    font-weight: 300;
    color: #000000;
    opacity: 0.3;
    background-color: #f7e296;
    border: 2px solid transparent;
    outline: none;
}
.search-field:hover {
    outline: none;
    opacity: 0.6;
}
.search-field:focus, .search-field:active {
    border-bottom: 2px solid #000;
    outline: none;
    opacity: 1;
}
.search-button {
    padding: 8px 20px;
    font-size: 10px 20px;
    font-weight: 300;
    line-height: 30px;
    background-color: #f7e296;
    border: 2px solid #000;

    opacity: 0;
    cursor: default;
    color: transparent;
    background-color: transparent;
}
.search-field:focus + .search-button,
.search-button:focus,
.search-button:active {
    opacity: 1;
    color: inherit;
    cursor: pointer;
}

.search-field:focus + .search-button:hover {
    color: #fff;
    background-color: #000;
}

.search-button:active {
    color: #747474;
    background-color: #000;
}
.user-navigation {
    display: flex;
}
.wrapper-user {
    display: flex;
    justify-content: space-between;
}
.user-navigation a {
    font-size: 15px;
    font-weight: 300;
    color: #000000;
}
.user-navigation a:hover, .user-navigation a:focus {
    opacity: 0.6;
}
.user-navigation a:active {
    opacity: 0.3;
}
.login-link {
    position: relative;
    margin-right: 235px;
}
.login-link::before {
    content: "";
    position: absolute;
    left: -28px;
    width: 15px;
    height: 15px;
    background-image: url(../img/icon_user.svg);
    background-repeat: no-repeat;
    background-position: center 4px;
}
.login-link-unactive {
    opacity: 0.3;
}
.compare-link {
    position: relative;
    margin-right: 65px;
}
.compare-link:before {
    content: "";
    position: absolute;
    left: -25px;
    width: 15px;
    height: 15px;
    background-image: url(../img/icon_compare.svg);
    background-repeat: no-repeat;
    background-position: center 5px;
}
.cart-link {
    position: relative;
}
.cart-link:before {
    content: "";
    position: absolute;
    left: -25px;
    width: 15px;
    height: 15px;
    background-image: url(../img/icon_cart.svg);
    background-repeat: no-repeat;
    background-position: center 5px;
}
.main-navigation {
    margin-top: 35px;
}
.site-navigation {
    display: flex;

    margin: 0;
    padding: 0;
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;

    list-style: none;
}

.site-navigation a {
    color: #000000;
}
.site-navigation a:hover, .site-navigation a:focus {
    opacity: 0.6;
}
.site-navigation a:active {
    opacity: 0.3;
}
.catalog-link-drop-down {
    position: relative;
}
.catalog-link-drop-down:hover + .site-navigation-drop-down {
    display: block;
}
.catalog-link-drop-down::after {
    content: "";
    position: absolute;
    right: -23px;
    width: 16px;
    height: 16px;
    background-image: url(../img/icon_plus.svg);
    background-repeat: no-repeat;
    background-position: center 1px;
    opacity: 0.3;
}
.site-navigation-drop-down {
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;
    position: absolute;
    z-index: 2;
    right: -60px;
    left: -60px;
    z-index: 1;

    margin: 0;
    padding: 0;
    padding: 20px 60px 35px;

    font-family: 'Open-sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.5px;
    text-transform: none;
    color: #000000;
    background-color: #f7e296;
    list-style: none;
}
.site-navigation-drop-down--hidden {
    display: none;
}
.navigation-drop-down-column {
    width: 160px;
    margin: 0 40px 0 0;
    padding: 0;
    list-style: none;
}
.site-navigation .delievery-link {
    min-width: 160px;
}
.site-navigation .guarantee-link {
    min-width: 120px;
    margin-right: 100px;
}
.site-navigation .catalog-link {
    min-width: 540px;
}
/* Slider-products */
.slider-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1050px;
    margin-top: -110px;
}
.slider-text-wrapper {
    width: 500px;
    position: relative;
    margin-top: 80px;
}
.slider-products-number {
    display: block;
    position: absolute;
    top: -100px;
    right: 0;
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 179.2px;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
}
.slider-products-lead {
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    letter-spacing: 0.2px;
    line-height: 56px;
}
.slider-products-description {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 30px;
    color: #464646;
}
.slider-products-properties th {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 20px;
    color: #464646;
}
.slider-products-properties td {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: 0.2px;
}
/* Popular products */
.popular-products {
    margin-bottom: 70px;
}
.popular-product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none; 
}
.popular-product-list li {
    width: 160px;
}
.product-list-item-icon {
    width: 160px;
    height: 160px;
    background-color: #f7e296;
}
.product-list-item-icon-vr {
    background-image: url(../img/popular_vr.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.product-list-item-icon-monopod {
    background-image: url(../img/popular_stick.svg);
    background-repeat: no-repeat;
    background-position: center 95%;
}
.product-list-item-icon-action-cam {
    background-image: url(../img/popular_actioncam.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.product-list-item-icon-fitness {
    background-image: url(../img/popular_fit_watches.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.product-list-item-icon-watches {
    background-image: url(../img/popular_watches.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.product-list-item-icon-dron {
    background-image: url(../img/popular_dron.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.product-list-item-title {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.product-list-item-title a {
    color: #000000;
}
/* Slider-services */
.bg-slider-services {
    background-image: linear-gradient(#fff,#fff 100px,#e5e5e5 100px);
}
.slider-services {
    display: flex;
    min-height: 310px;
    margin-bottom: 95px;
    padding-bottom: 70px;
    justify-content: space-between;

}
.slider-services-buttons-inner {
    width: 280px;
    padding-top: 80px;
    padding-bottom: 45px;
    border-right: 7px solid #000;
}
.slider-services-buttons {
    margin: 0;
    padding: 0;
    list-style: none;
}
.slider-services-buttons li {
    width: 100%;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    
}
.button-slider--active {
    /*color: #f0c52e;*/
    position: relative;
    color: #f7e184;
    /*background-color: #000;*/
}
.button-slider--active::before, .button-slider--active:focus::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;

    width: 280px;
    height: 100%;

    background: #000;
}
.service-card-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 760px;
    padding-top: 70px;
}
.service-slide--unactive {
    display: none;
}
.slider-services-card {
    width: 467px;
}
.slider-services-card::after {
    content: '';
    position: absolute;
    top: 85px;
    right: 0;
    display: block;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
}
.slider-services-card--delievery::after {
    background-image: url(../img/icon_delivery.svg);
}
.slider-services-card--guarantee::after {
    background-image: url(../img/icon_warranty.svg);
}
.slider-services-card p {
    margin: 0;

    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: #464646;
}
/* Commanies logos */
.companies-list {
    display: flex;
    margin: 0;
    margin-bottom: 83px;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
}
.companies-item a {
    display: block;
    width: 260px;
    height: 100px;
}
.companies-item--dji a {
    background-image: url(../img/logo_dji.jpg);
}
.companies-item--dji a:hover, .companies-item--dji a:focus, .companies-item--dji a:active {
    background-image: url(../img/logo_dji_colored.jpg);
}
.companies-item--sp-gadgets a {
    background-image: url(../img/logo_sp_gadgets.jpg);
}
.companies-item--sp-gadgets a:hover, .companies-item--sp-gadgets a:focus, .companies-item--sp-gadgets a:active {
    background-image: url(../img/logo_sp_gadgets_colored.jpg);
}
.companies-item--gopro a {
    background-image: url(../img/logo_gopro.jpg);
}
.companies-item--gopro a:hover, .companies-item--gopro a:focus, .companies-item--gopro a:active {
    background-image: url(../img/logo_gopro_colored.jpg);
}
.companies-item--vive a {
    background-image: url(../img/logo_vive.jpg);
}
.companies-item--vive a:hover, .companies-item--vive a:focus, .companies-item--vive a:active {
    background-image: url(../img/logo_vive_colored.jpg);
}
/* About us */
.info-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 76px;
}
.about-us p {
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: #464646;
}
.transport-company-list {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
}

/* Contacts */
.contacts p {
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: #464646;
}

/* Footer */
.main-footer {
    padding: 55px 0;
    color: #fff;
    background-color: #464646;
}
.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 27px;
}
.footer-address {
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}
.footer-phone {
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}
.user-navigation-footer {
    display: flex;
    justify-content: space-between;
    min-width: 480px;
}
.user-navigation-footer a {
    color: #fff;
    opacity: 0.7;
}
.user-navigation-footer a:hover, .user-navigation-footer a:focus {
    opacity: 1;
}
.user-navigation-footer a:active {
    opacity: 0.3;
}
.site-navigation-footer {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 440px;
}
.site-navigation-footer a {
    color: #fff;
}
.site-navigation-footer a:hover, .site-navigation-footer a:focus {
    opacity: 0.6;
}
.site-navigation-footer a:active {
    opacity: 0.3;
}
.decoration-line {
    width: 80px;
    height: 8px;
    background-color: #ffc600;
}
.social-icons {
    display: flex;
    justify-content: space-between;
    min-width: 160px;
    margin: 0;
    padding: 0;
    list-style: none;
}
/*Pop ups*/
.contact-us {
    display: none;
}
.pop-up-map {
    display: none;
}


/* CATALOG */
.breadcrumbs {
    margin: 0 60px;
}
.title-breadcrums {
    margin-left: 60px;
}
.breadcrumbs-list {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0 43px;
    padding: 0;
    list-style: none;
}
.breadcrumbs-list-item {
    position: relative;
    margin-right: 18px;
}
.breadcrumbs-list-item:not(:first-of-type) {
    padding-left: 18px;
}
.breadcrumbs-list-item:not(:last-of-type):after {
    content: '';
    position: absolute;
    top: 9.5px;
    right: -21px;
    width: 4px;
    height: 7px;
    background-image: url(../img/icon_nav_arrow.svg);
    background-repeat: no-repeat;
}
.breadcrumbs-list a {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #000;
    opacity: 0.3;
}
.breadcrumbs-list a[href]:hover, .breadcrumbs a[href]:focus {
    opacity: 0.6;
}
.breadcrumbs-list a[href]:active {
    opacity: 0.1;
}

/* Sorting */
.top-catalog-line {
    background-image: linear-gradient(to right, #dcdcdc, #dcdcdc 50%, #ebebeb 50%, #ebebeb);
}
.top-catalog-line-inner {
    display: flex;
    margin-left: 60px;
}
.sorting {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    padding-top: 18px;
    padding-left: 72px;

    background-color: #ebebeb;
}
.sorting-heading {
    margin: 0;
    padding: 0;
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.sorting-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 480px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    list-style: none;
}
.sorting-list-item {
    margin-right: 30px;
    list-style-type: none;
}
.sorting-list-item:first-of-type {
    margin-left: 21px;
}
.sorting-list-item a {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    opacity: 0.3;
}
.sorting-list-item a:hover,
.sorting-list-item a:focus {
    opacity: 0.6;
}

.sorting-list-item a:active,
.sorting-list-item-active a {
  opacity: 1;
}

.sorting-arrows-list {
    display: flex;
    width: 60px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sorting-arrow {
    margin-right: 30px;
}
.sorting-arrow:last-of-type {
    margin-right: 0;
}
.sorting-arrow a {
    position: relative;
}
.sorting-arrow a:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 10px;
    background-repeat: no-repeat;
}
.sorting-arrow-up a:after {
    background-image: url(../img/icon_up_dir.svg);
}
.sorting-arrow-down a:after {
    background-image: url(../img/icon_down_dir.svg);
}
/* // Sorting */
.bg-gradient {
    background-image: linear-gradient(to right, #efefef 34%, #fff 34%);
}
.flex-row {
    display: flex;
    justify-content: space-between;
}
.filters {
    box-sizing: content-box;
    width: 200px;
    margin-top: 68px;
    margin-right: 70px;
    padding-left: 60px;
}
.filter-heading {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: #dcdcdc;
}
.filter-heading-visual {
    width: 270px;
    padding: 26px 0;
    padding-left: 2px;
    
}

.filter-fieldset {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    margin: 0;
    margin-right: 68px;
    margin-bottom: 37px;
    padding: 0;
    border: none;
}
.filter-title {
    width: 100%;
    margin-bottom: 14px;
    padding-top: 8px;
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.2px;
    border-top: 2px solid #000;
}
.filter-price {
    position: relative;
    width: 200px;
    height: 2px;
    margin-top: 16px;
    margin-bottom: 29px;
    background-image: linear-gradient(to right,#91c92f,#91c92f 50%,#dbdbdb 50%,#dbdbdb);
}
.filter-wrapper input {
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0.1px;
}
/* Catalog */

.goods {
    /*display: flex;*/
    width: 760px;
    padding-left: 71px;
    background-color: #fff;
}
.catalog {
    display: flex;
    margin-top: 69px;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
}
.catalog-item {
    position: relative;
    width: 360px;
    margin-bottom: 50px;
}
.catalog-item-image {
    margin-bottom: 29px;
}
.catalog-item-add-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    top: 165px;
    left: 50%;
    min-width: 200px;
    margin: 0;
    margin-left: -100px;
    padding: 0;
}

.catalog-item-add-links a {
    opacity: 0;
}

.catalog-item-title {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.catalog-item-title a {
    color: #000;
}
.catalog-item-price {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.2px;
}